{% load leaflet_tags %}
<html>
 <head>
    {% leaflet_js %}
    {% leaflet_css %}

    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'mapView/mapStyle.css' %}">  <!-- Django busca todo los archivos estaticos (.js, .ccs) en la carpeta static -->

</head>

  <body>
      <h1>"Check {{ location.location_lat }}"</h1>
      {% leaflet_map "meshMap" %}
<script type="text/javascript">
    function map_init_basic (map, options) {
        L.marker([50.5, 30.5]).addTo(map);

    }
</script>

  </body>

</html>
