<html>
 <head>
    {% load static %} <!-- Django busca todo los archivos estaticos (.js, .ccs) en la carpeta static -->

    <link rel="stylesheet" href="{% static 'mapView/js/leaflet/leaflet.css' %}" />
    <link rel="stylesheet" href="{% static 'mapView/css/mapView.css' %}" />

    <script src="{% static 'mapView/js/leaflet/leaflet.js' %}"></script>
    <script type="text/javascript" src ="{% static 'mapView/js/Map.js' %}"></script>
    <script type="text/javascript" src ="{% static 'mapView/js/Node.js' %}"></script>
    
</head>

  <body>
      <h1>"Red Municipal Mesh"</h1>
    
      <div id = 'meshMap'></div>
      <script type="text/javascript" src = "{% static 'mapView/js/Main.js' %}"></script>

  </body>

</html>
